.code-block {
    padding-top: 22px;
    position: relative;

    >*:not(:last-child) {
        margin-bottom: 22px;
    }

    textarea {
        min-height: 240px;
        width: 52%;
        max-width: 760px;
        resize: none;
        border-radius: 4px;
        border: 1px solid rgb(224, 224, 224);
        padding: 12px;
        text-decoration: none;
        background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(222, 222, 222));

        &:focus-visible {
            border: 1px solid rgb(179 245 255 / 37%);
            box-shadow: 0px 2px 14px 2px rgb(43 17 74 / 10%);
            outline: 0;
        }
    }

    .sub-wrapper {
        width: 44%;
        max-width: 680px;

        >* {
            margin-bottom: 16px;
        }
    }

    code {
        border-radius: 4px;
        min-height: 120px;
        padding: 12px !important;
    }

    .solution {
        span {
            margin-bottom: 12px;
        }

        p {
            height: fit-content;
            margin: 0;
            max-width: 350px;
        }
    }

    .actions-wrapper {
        button {
            cursor: pointer;
            padding: 8px 12px;
            border-radius: 4px;
            border: 0;
            background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(180 180 180));
            &:hover {
                box-shadow: 0px 0px 9px rgb(43 17 74 / 17%);
            }
        }
    }

    img {
        position: absolute;
        top: 50px;
        width: 300px;
        aspect-ratio: 1/1;
        object-fit: contain;
        border-radius: 10px;
        box-shadow: -8px 14px 20px 0px rgb(0 0 0 / 22%);

    }
}

@media(max-width:800px) {
    .code-block {
        textarea {
            width: 66%;
        }

        .sub-wrapper {
            width: 58%;
        }
    }
}

// MQ Mobile
@media(max-width:500px) {
    .code-block {
        textarea {
            min-height: 180px;
            width: 80%;
        }

        .sub-wrapper {
            width: 72%;
        }
    }
}